/*  your css code here. If applicable */
.h{
    background-color: #ffffff;
    width: 80%;
    
}
body{
background-color: #f8f8f8;
margin-left: 20px;
margin-right: 20px;

}
hr {
    position: relative;
    top: -10px;
    border: none;
    height: 1px;
    width: 100%;
    background: black;
    margin-bottom: 25px;
}

*{
    margin: 10px;
}

/* here class is started */

.h h2{
    position: relative;
    right:-120px;

}


.book-library{
    width: 80%;
    background-color:#ffffff;
    display: flex;
	flex-direction:column;
	
	position:absolute:
	left:300px;
	
   

}
.book img{
    position: relative;
	width:100px;
    right:-100px;
}
.book p{
    font-size: 20px;
    font-weight: 20px;
    position: relative;
    left:-10px;
	font-size:10px;
	font-wight:bold;
    color: black;
}
.book h6{
    color: #777777;
}
.book{
	margin:10px;
}
.book #btn{
    background-color: #2ecc71;
    border: none;
    color: white;
	
	
    padding: 0px 150px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 2px;
    background-color: #2ecc71;
}
